!!!
%html(lang="en")
  %head
    %title Title	
  %body
    #welcome-box
    %p= greeting
    %p
      As of
      = Time.now
      the reasons you gave were:
    %table
      %tr
        %th Reason
        %th Rank for reason in reasons
      - reasons.each do |reason|
        %tr
          %td= reason[:reason_name]
          %td= reason[:rank]
