!!!
%html
  %head
    %title Генератор отчетов для Primavera P6
  %body
    %h1 Формирование отчета завершено!
    %a{ :href => url( "/" ) } Вернуться назад
    %br
    %h2 Вы можете посмотреть:
    - if paths.size > 1
      - paths[1..-1].each do |path|
        - unless path.nil?
          %a{ :href => url( "/#{ path }" ) }= "#{ path[7..-1] }"
          %br
      Скачать все отчеты одним архивом:
      %a{ :href => url( "/#{ paths[0] }" ) }= "#{ paths[0][7..-1] }"

