!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title Title
  %body
    %h1 Reporter
    %form{ :action => "/run/", :method => :post }
      %p Please, select name project
      %select{ :name => "Project" }
        - projects.each do |project|
          %option{ :value => "#{ project[:proj_id] }" }= "#{ project[:wbs_short_name] } | #{ project[:wbs_name] }"
      %br
      %p= "Please, enter date (In format \"yyyy-mm-dd\". For example, \"2011-04-30\")"
      From:
      %input{ :type => :text, :name => "from", :size => 10, :value => "2011-01-01" }
        to:
      %input{ :type => :text, :name => "to", :size => 10, :value => "2011-01-31" }
      %br
      %br
      %input{ :type => :submit, :name => "RUN", :value => "Start!" }

