!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title Генератор отчетов для Primavera P6
  %body
    %h1 Reporter
    %form{ :action => "/run/", :method => :post }
      %p Выберите проект
      %select{ :name => "Project" }
        - projects.each do |project|
          %option{ :value => "#{ project[:proj_id] }" }= "#{ project[:wbs_short_name] } | #{ project[:wbs_name] }"
      %br
      %p= "Введите даты для отчета (в формате \"гггг-мм-дд\". Например, \"2011-04-30\")"
      С:
      %input{ :type => :text, :name => "from", :size => 10, :value => "2011-01-01" }
        по:
      %input{ :type => :text, :name => "to", :size => 10, :value => "2011-01-31" }
      %br
      %br
      %input{ :type => :submit, :name => "RUN", :value => "Поехали!" }

